*{
	margin:0;
	padding:0;
	border:none;
	font-size:14px;
	font-weight:normal;
	box-sizing: border-box;
}
/*スクロールバーを非表示 (除Firefox)*/
::-webkit-scrollbar{display:none;}
*{-ms-overflow-style:none;}

a{
	text-decoration: none;
	font-weight:bold;
	color:black;
}

/*スクロールバーを非表示 (除Firefox)*/
::-webkit-scrollbar{display:none;}
*{-ms-overflow-style:none;}

/*位置の調整*/
#wrap{display:flex;}
h1{	
	background-color:red;
	color:white;
	line-height:25px;
	text-align:center;
}
#left{
	width:250px;
	background-color:yellow;
}
#left nav{
	height:70vh;
	height:calc(100vh - 70px);
	overflow:scroll;
}

#right{
	flex:1;
	background-color:lime;
}

#comment{
	padding:1em 0.5em 0em 0.5em;
	height:3em;
}

#iframe{
	width:calc(100% - 1em);
	height:calc(100vh - 70px - 3em);
	overflow:scroll;
	background-color:white;
	display:block;
	margin:10px 10px 10px 5px;
	padding:0.5em;
	border:6px double gray;
	box-shadow:4px 4px 4px gray;
}

footer p{
	background-color: blue;
	color:white;
	line-height:25px;
	text-indent:1em;
}

/*カウンタ*/
#left{
	counter-reset: h2;
}
h2:before{
	counter-increment:h2;
	content: counter(h2)". ";
}

h2{
	counter-reset: h3;
	display:inline;
}

/*		h3:before{
	counter-increment:h3;
	content:counter(h2)"-"counter(h3)". ";
}
*/

h3{color:black;display:inline;}

/*ポインタの指定*/
nav li{cursor:pointer;text-indent:0.5em;}


/*折りたたみ*/
summary{
	margin-left:1.5em;
	text-indent:-1em;
	outline:none;
	display:inline;
}
details details{
	margin:0 0.5em 0.5em 0.5em;
	border:1px solid gray;

}
details details li{margin-left:2em;}

nav{
	padding-bottom:50vh;
}