@import url(http://fonts.googleapis.com/css?family=Monoton);

*{margin:0;padding:0;}

header,canvas,aside,footer{display:block;}

body	{background-color:#3a5775;text-align:center;color:white;}

#wrap	{width:500px;position:absolute;top:30px;left:50%;margin:0 0 0 -250px;}

header  {height:50px;font-size:30px;font-weight:bold;z-index:1;margin-top:150px;}

footer{height:150px;}


footer h1{font-family: 'Monoton', cursive;font-size:50px;color:#f77;}

#share	{float:left;width:250px !important;height:30px;
	display:block;overflow:hidden;margin-top:-4px;}

#like	{float:right;width:250px !important;height:20px;}

#canvasina{
	background-color:white;
	-webkit-box-reflect:below 10px -webkit-gradient(
		linear,left bottom,left top,from(rgba(0,0,0,0.7)),
		color-stop(0.3,transparent),to(transparent)
	);
	
}

a	{text-decoration:none;color:white;font-weight:bold;}