*{
	margin:0;padding:0;
	font-size:20px;
	font-weight:normal;
	}
#wrap{
	margin:0 auto;
	width:800px;
	}
header,main,section,aside,footer{
	box-sizing:border-box;
	padding:1em;
	}
header,main,aside,footer{
	border:1px dotted green;
	}
section,figure{
	border:1px dashed red;
	}
header>h1{
	font-size:2em;
	text-align:center;
	}
main{
	width:75%;
	float:right;
	}
section>h1{
	font-size:1.5em;
	}
aside{
	width:25%;
	float:right;
	}
footer{
	clear:both;
	color:white;
	background-color:gray;
	text-align:center;
	padding:0em;
	}
