*	{margin:0;padding:0;text-decoration:none;}

body	{text-align:center;background:black;
	 /*url('../img/bg.jpg');*/
	-moz-background-size:100% auto;
	background-size:100% 100%;
	background-position:center bottom;
	background-repeat:no-repeat;
	background-attachment:fixed; }
#wrap	{width:400px;margin:0 auto;}
h1	{font-size:30px;color:white;margin:0 auto;}
img	{border:1px solid gray;margin:10px auto;
		box-shadow:0 3px 3px gray;}
#logo	{float:left;}
a	{color:white;}
#share		{width:5em;text-align:center;height:1em;line-height:1em;border:1px solid gray;border-radius:5px;background-color:#5555ff;display:block;}