@import url(http://fonts.googleapis.com/css?family=Monoton);

*{margin:0;padding:0;}

header,canvas,aside,footer{display:block;}

body	{background:-webkit-linear-gradient(left,#000,white);text-align:center;color:white;}

#wrap	{width:500px;position:absolute;top:50%;left:50%;margin:-325px 0 0 -250px;}

header  {font-size:30px;font-weight:bold;margin:25px 0;z-index:1}

footer h1{font-family: 'Monoton', cursive;font-size:50px;color:#f77;}

#share	{float:left;width:250px;height:30px;
	display:block;overflow:hidden;margin-top:-4px;}

#like	{float:right;width:250px;height:20px;}

#outer	{width:500px;height:450px;color:black;border:0px solid gray;
	}

a	{text-decoration:none;color:white;font-weight:bold;}