/*common*/
@import url(http://fonts.googleapis.com/css?family=Monoton);
@import url(http://fonts.googleapis.com/css?family=Seaweed+Script);
section,canvas{display:block;}

/*common frame*/
*	{margin:0;padding:0;font-size:20px;font-family:cursive;border:none;color:#fff;}
body	{text-align:center;
	/*background:-webkit-linear-gradient(left,#fdd,white);*/
	background:#3a5775;
	}/*#fdd*/
.wrap	{width:1030px;margin:0 auto;}
header	{display:block;text-align:center;height:70px;width:400px;float:left;}
header h1{font-size:50px;color:#f77;font-family: 'Monoton', cursive;}
nav		{display:block;clear:both;
		margin:10px 0;text-align:center;
		border-top:1px solid gray;border-bottom:1px solid gray;}
footer	{display:block;clear:both;text-align:center;height:100px;padding-top:50px;}
footer a{font-size:20px;}
canvas{background-color:white;}

/*common parts*/
a		{color:white;text-decoration:none;}
li		{list-style-type:none;margin:0.5em;}
i		{color:red;}
strong,b{font-size:15px;}
pre		{width:45%;margin:5px;background-color:white;}
b		{font-weight:bold;font-size:1em;color:gray;}

/*top*/
#top #like{width:500px !important;height:350px;float:right;}
#top #firstview{float:left;text-align:left;width:490px;font-size:14px;border:1px solid #aaa;background-color:white;padding:10px;margin:10px 10px 10px 0;}
#top #firstview #enjoycreate{color:white;background-color:red;border:1px solid gray;border-radius:10px;font-size:30px;padding:10px 20px;margin:10px 0 0 120px;box-shadow:3px 3px 3px gray;text-shadow:-1px -1px 1px black;}

#top #firstview{border-radius:10px;position:relative;}
#top #firstview h1,#top #firstview p{font-family:cursive;color:gray;}
#top #firstview:before,#top #firstview:after{content:"";display:block;background-color:#aaa;position:absolute;
	width:500px;height:50px;border-radius:10px;box-shadow:0 0 10px #aaa;z-index:-1;}

#top #firstview:before{bottom:0px;left:5px;-webkit-transform:rotate(2deg)}
#top #firstview:after{bottom:0px;left:5px;-webkit-transform:rotate(-2deg)}

#top main{width:770px;float:left;display:block;}
#list h1{background-color:#aaa;margin:5px 9px 0 0}

.item{position:relative;
	-webkit-transition:-webkit-transform 0.5s ease-in-out;
	-moz-transition:-webkit-transform 0.5s ease-in-out;
	-o-transition:-webkit-transform 0.5s ease-in-out;
	-ms-transition:-webkit-transform 0.5s ease-in-out;
	}

.item{float:left;width:250px;height:225px;overflow:hidden;
	margin:8px 5px 0 0;box-shadow:0 2px 5px black;
	background-color:#fee;text-align:center;}

.inner{position:absolute;width:500px;height:450px;overflow:hidden;
	-webkit-transform:scale(0.5,0.5);	-webkit-transform-origin:0 0;
	-moz-transform:scale(0.5,0.5);		-moz-transform-origin:0 0;
	-o-transform:scale(0.5,0.5);		-o-transform-origin:0 0;
	-ms-transform:scale(0.5,0.5);		-ms-transform-origin:0 0;}
	
.inner iframe{margin-top:-30px;}
.item{overflow:hidden;}

.cover{position:absolute;display:block;overflow:hidden;
		width:250px;height:225px;color:transparent;}
.cover:hover{color:black;text-shadow:1px 1px 1px white;}
.item:hover{z-index:1;
	-webkit-transform:scale(1.5,1.5);
	-moz-transform:scale(1.5,1.5);
	-o-transform:scale(1.5,1.5);
	-ms-transform:scale(1.5,1.5);
}


/*create*/
#left	{width:500px;float:left;text-align:center;padding:0px;}
#right	{width:510px;float:right;position:relative;padding:0px;overflow:hidden;}
#edit	{position:relative;height:400px;width:500px;margin-bottom:15px;
	box-shadow:0px 5px 5px gray;overflow-x:hidden;}
#lineNo	{padding-top:5px;height:width:40px;float:left;font-size:13px;line-height:20px;font-family:sans-serif}
#maker	{position:absolute;right:0;width:440px ;margin-bottom:5px;
	padding:5px;font-family:sans-serif;
	box-shadow:0 5px 5px gray;
	float:right;font-size:15px;line-height:20px;
	resize: none;color:black;
	}
#comment{width:490px;height:3em;font-size:20px;padding:5px;font-family:monospace;box-shadow:0 5px 5px gray;color:black;}
#view	{box-shadow:0 5px 5px gray;}
.title	{font-size:20px;text-align:center;background-color:gray;color:}
.btn	{margin:0 0 0 30px;background:none;color:white;text-shadow:-1px -1px 1px black;}
.btn:hover{color:yellow;text-shadow:0 1px 5px white;}
.push	{box-shadow:0px 1px 3px gray;width:110px;
		margin:7px;background-color:#ddd;border-radius:10px;}

#footer img{border-radius:15px;}