/*common*/
@import url(http://fonts.googleapis.com/css?family=Monoton);
@import url(http://fonts.googleapis.com/css?family=Seaweed+Script);
section,canvas{display:block;}

/*common frame*/
*	{margin:0;padding:0;font-size:20px;font-family:cursive;border:none;color:#111;}
body	{text-align:center;background:-webkit-linear-gradient(left,#000,white);}/*#fdd*/
.wrap	{width:1030px;margin:0 auto;}
header	{display:block;text-align:center;height:70px;width:400px;float:left;}
header h1{font-size:50px;color:#f77;font-family: 'Monoton', cursive;}
nav		{display:block;clear:both;
		margin:10px 0;text-align:center;
		border-top:1px solid gray;border-bottom:1px solid gray;}
footer	{display:block;clear:both;text-align:center;height:100px;padding-top:50px;}
footer a{font-size:20px;}
canvas{background-color:white;}

/*common parts*/
a		{color:#555;text-decoration:none;}
li		{list-style-type:none;margin:0.5em;}
i		{color:red;}
strong,b{font-size:15px;}
pre		{width:45%;margin:5px;background-color:white;}
b		{font-weight:bold;font-size:1em}

/*top*/
#top #like{width:500px;height:350px;float:right;}
#top #firstview{color:black;float:left;text-align:left;width:490px;font-size:14px;border:1px solid #aaa;background-color:white;padding:10px;margin:10px 10px 10px 0;}
#top #firstview #enjoycreate{color:white;background-color:red;border:1px solid gray;border-radius:10px;font-size:30px;padding:10px 20px;margin:10px 0 0 120px;box-shadow:3px 3px 3px gray;}

#top #firstview{border-radius:10px;position:relative;}
#top #firstview h1,#top #firstview p{font-family:cursive;}
#top #firstview:before,#top #firstview:after{content:"";display:block;background-color:#aaa;position:absolute;
	width:500px;height:50px;border-radius:10px;box-shadow:0 0 10px #aaa;z-index:-1;}

#top #firstview:before{bottom:0px;left:5px;-webkit-transform:rotate(2deg)}
#top #firstview:after{bottom:0px;left:5px;-webkit-transform:rotate(-2deg)}

#top main{width:770px;float:left;display:block;}
#list h1{background-color:#aaa;margin:5px 9px 0 0}

.item,.inner{position:relative;
	-webkit-transition:-webkit-transform 0.5s ease-in-out;
	-moz-transition:-webkit-transform 0.5s ease-in-out;
	-o-transition:-webkit-transform 0.5s ease-in-out;
	-ms-transition:-webkit-transform 0.5s ease-in-out;
	}

.item{
	float:left;width:250px;height:225px;overflow:hidden;
	margin:8px 5px 0 0;box-shadow:0 2px 5px black;
	background-color:#fee;text-align:center;}

.item .inner{position:absolute;width:500px;height:450px;overflow:hidden;;
	-webkit-transform:scale(0.5,0.5);	-webkit-transform-origin:0 0;
	-moz-transform:scale(0.5,0.5);		-moz-transform-origin:0 0;
	-o-transform:scale(0.5,0.5);		-o-transform-origin:0 0;
	-ms-transform:scale(0.5,0.5);		-ms-transform-origin:0 0;}
	
.item .cover{position:absolute;display:block;
		width:250px;height:225px;color:transparent;}
		
.item .cover:hover{color:black;text-shadow:1px 1px 1px white;}
.item:hover,inner:hover{z-index:10;
	-webkit-transform:scale(1.5,1.5);
	-moz-transform:scale(1.5,1.5);
	-o-transform:scale(1.5,1.5);
	-ms-transform:scale(1.5,1.5);
}


/*create*/
#left	{width:500px;float:left;text-align:center;padding:0px;}
#right	{width:510px;float:right;position:relative;padding:0px;overflow:hidden;}

#outer	{width:500px;height:450px;border:1px solid white;}

#maker	{width:490px;height:400px;margin-bottom:5px;padding:5px;font-family:monospace;
		box-shadow:0 5px 5px gray;}
#comment{width:490px;height:3em;font-size:20px;padding:5px;font-family:monospace;box-shadow:0 5px 5px gray;}
#view	{box-shadow:0 5px 5px gray;}
.title	{font-size:20px;text-align:center;}
.title	{background-color:gray;color:white;}
.btn	{margin:0 0 0 30px;background:none;}
.btn:hover{background-color:#aaa;color:white;text-shadow:0 1px 5px white;}
.push	{box-shadow:0px 1px 3px gray;width:110px;
		margin:7px;background-color:#ddd;border-radius:10px;}

#manual	{width:500px;height:650px;background-color:rgba(215,215,215,0.5);
		position:absolute;top:-700px;left:0px;
		border:1px solid gray;
		overflow:auto;text-align:left;
		-webkit-transition:top 0.5s ease-in-out;}
#manual h1{text-align:center;}
#manual *{font-size:15px;font-family:monospace;color:black;text-shadow:1px 1px 1px white;}

/*ad*/
#ad		{clear:both;}
#ad img	{border-radius:20px;width:770px;margin:5px auto;}

/*trush
canvas h1	{color:red;font-size:50px;}
select	{display:block;font-size:10px;}
#msg1{display:block;}
#msg2{display:none;}*/